.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #0B5F80;
    font-family: 'Montserrat','Sans-serif';
    color: white;
    padding: 10px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo:hover {
    background-color: #083f54;
    border-radius: 5px;
    cursor: pointer;
}

.logo-name {
    font-weight: bold;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 15px;
}

.nav-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.nav-menu div:hover, button:hover {
    background-color: #083f54;
    border-radius: 5px;
    cursor: pointer;
}
.scan {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.login {
    border-radius: 5px;
    background-color: white;
    color: #0B5F80;
    width: 83px;
    font-weight: bold;
}
.profile {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #0B5F80; 
    font-size: 20px;
    font-weight: bold;
}

.logo-img {
    width: 44px;
    height: 40px;
}